<!DOCTYPE html>
<html ng-app="notesApp">

<head>
	<meta charset="utf-8">
  <title>Angular Form Validation</title>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
</head>

<body ng-controller="MainCtrl as ctrl">
  <div class="container">
    <form ng-submit="ctrl.submit()" name="myForm">
      <!-- 文本框 -->
      <div class="form-group">
        <label for="username">Text</label>
        <input id="username" type="text" ng-model="ctrl.user.username" required minlength="4" class="form-control" placeholder="Please input username">
      </div>
      
      <!-- 密码框 -->
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" ng-model="ctrl.user.password" required class="form-control" placeholder="Please input password">
      </div>
      
      <!-- 多行文本框 -->
      <div class="form-group">
        <label for="note">note</label>
        <textarea id="note" ng-model="ctrl.user.note" class="form-control" rows="4"></textarea>
      </div>

      
      <!-- 选择框 -->
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="ctrl.user.agree">agree
        </label>
      </div>

      <!-- 选择框： 多选 -->
      <div>
        <label class="checkbox-inline" ng-repeat="favitor in ctrl.favitors">
          <input type="checkbox" ng-model="ctrl.user.favitors[favitor.name]"> {{favitor.display}}
        </label>
      </div>

      <!-- 单选框 -->
      <div>
        <label class="radio-inline" ng-repeat="favitor in ctrl.favitors">
          <input type="radio" name="myfavitor" ng-model="ctrl.user.myfavitor" ng-value="favitor.name"> {{favitor.display}}
        </label>
      </div>

	<!-- 下拉框 -->
      <div class="form-group">
		<label for="myfavitor">myfavitor</label>
      	<select id="myfavitor" ng-model="ctrl.user.myfavitor" ng-options="f.name as f.display for f in ctrl.favitors" class="form-control"></select>
      </div>

      <input type="submit" value="Submit" ng-disabled="myForm.$invalid" class="btn btn-primary">

      <div ng-bind="ctrl.user|json"></div>
    </form>
  </div>
  <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
  <script src="https://cdn.bootcss.com/angular.js/1.7.0/angular.js"></script>
  <script>
  angular.module('notesApp', [])
    .controller('MainCtrl', function() {
      var self = this;
      self.favitors = [
        { name: 'basketball', display: '篮球' },
        { name: 'football', display: '足球' },
        { name: 'swim', display: '游泳' },
        { name: 'pingpang', display: '乒乓' }
      ];
      self.user = {
        username: 'u',
        password: 'p',
        note: 'n',
        agree: true,
        favitors: {
        	basketball: true, 
        	football: false, 
        	swim: true,
        	pingpang: false
        },
        myfavitor: 'pingpang'
      };
      self.submit = function() {
        console.log('User clicked submit with ', self.user);
      }
    });
  </script>
</body>

</html>